@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root {
  /* primary-colors */
  --primary-purple: hsl(249, 99%, 64%);
  --primary-purple-active: hsl(278, 94%, 30%);
  --primary-red: hsl(0, 100%, 66%);

  /* secondary-colors */
  --secondary-white: hsl(0, 0%, 100%);
  --secondary-light-gray: hsl(270, 3%, 87%);
  --secondary-dark-gray: hsl(279, 6%, 55%);
  --seconary-dark-purple: hsl(278, 68%, 11%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

body {
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.container img#desktop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 65%;
  z-index: -1;
}

/* Right-section style */
.container .right-section {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  #form {
    width: 350px;
    position: absolute;
    left: 100px;

    .inline {
      display: flex;
      justify-content: space-between;

      .flex {
        display: flex;

        input {
          width: 80px;
          margin-right: 10px;
        }
      }
    }

    .form-group {
      margin-bottom: 10px;
      position: relative;
      display: flex;
      flex-direction: column;

      label {
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 500;
        margin: 15px 0 3px 0;
      }

      input {
        padding: 10px;
        color: var(--seconary-dark-purple);
        font-size: 18px;
        font-weight: 700;
        border: var(--secondary-light-gray) solid 1px;
        border-radius: 5px;
      }

      &.cvc {
        position: absolute;
        right: 0;
        width: 160px;
      }
    }

    button {
      margin-top: 20px;
      padding: 9px;
      border: none;
      border-radius: 5px;
      background-color: var(--seconary-dark-purple);
      color: var(--secondary-white);
      font-size: 16px;
      width: 100%;
      cursor: pointer;
    }
  }

  ::placeholder {
    color: var(--secondary-dark-gray);
    font-weight: 500;
  }

  input:focus {
    outline: 1px solid var(--primary-purple-active);
  }
}

/* Left-section style */
.container {
  .left-section {
    height: 100vh;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .front-card {
      margin-top: 100px;
      margin-left: 30px;
      position: relative;
      width: fit-content;
      height: fit-content;

      .front-text {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 25px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;

        .card-details-container {
          line-height: 50px;

          p,
          h2 {
            color: var(--secondary-white);
            letter-spacing: 5px;
          }

          .user-details {
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

    .back-card {
      position: relative;
      margin-top: 30px;
      margin-left: 100px;

      p {
        position: absolute;
        top: 44%;
        right: 15%;
        color: var(--secondary-white);
        letter-spacing: 2px;
      }
    }
  }
}

.thank {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.thank h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.thank p {
  font-size: 18px;
  color: var(--secondary-dark-gray);
}
.thank button {
  color: var(--secondary-white);
  width: 100%;
  border-radius: 6px;
  padding: 1rem;
  font-size: 18px;
  background-color: var(--seconary-dark-purple);
  cursor: pointer;
}
.hidden {
  display: none;
}

/* Attribution style */
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1020px) {
  .container {
    flex-direction: column;
  }

  .container img#desktop {
    height: 60%;
    width: 100%;
    z-index: -1;
  }

  /* Left section */
  .container .left-section {
    height: 50vh;
    width: 100%;

    .front-card {
      margin-top: 80px;
      z-index: 1;
    }

    .back-card {
      margin-top: -90px;
    }
  }

  /* Right section */
  .container .right-section {
    height: 500vh;
    width: 100%;

    #form {
      top: 100px;
      left: 20px;
    }
  }

  .attribution {
    display: none;
  }
}

/* Errors */

.form-group small {
  font-size: 9px;
  padding-top: 10px;
  margin-right: 5px;
  color: var(--primary-red);
  visibility: hidden;
  display: block;
}

.form-group.error small {
  visibility: visible;
}
